
#mainContainer {
  position: relative;
}

#zoomBtn {
  position: absolute;
  bottom: 8%;
  right: 12%;
}

.fade_in {
    padding: 10px;
    font-weight: bold;
    color: #FF6EF2;
    text-align: center;
    animation: fadeIn 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.linkBlk { color: black; }
.linkWht { color: white; }

/*rendered black without important? maybe due to bulma*/
svg {
    background: #FFFEBF !important;
}

path {
  fill: #7C7C7C;
  stroke: #999999;
  stroke-width: .4px;
}

.circles {
    fill: #FF6EF2;
    opacity: 0.55;
}
.circles2 {
    fill: green;
    opacity: 0.55;
}
.cities {
    fill: #2B2B2B;
    opacity: .3;
}

.smallText {
  font-size: 14px;
}

g.zoom-controls {
    cursor: pointer;
    pointer-events: all;
}

/*g.zoom-controls rect {
    fill: white;
    stroke: #596877;
    stroke-width: 1;
}
g.zoom-controls line {
    stroke: #596877;
    stroke-width: 2;
}*/

.st0{fill:#7D7D7D;}
.st1{fill:none;stroke:#FFFFFF;stroke-width:34.2549;stroke-linecap:round;stroke-miterlimit:10;}




